# Logs
*.log
.eslintcache
.node_repl_history
.npm
.nyc_output
.yarn-integrity
logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Cypress
*.mp4
screenshots
videos
